body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center; 
}

.navbar {
    background-image: url("../images/subpage_background.png");
    background-size: cover;
    border: 5px dotted white;
    color: lightcoral;
    padding: 40px;
    font-size: 20px;

}

nav a {
    color: black;
    margin: 0 40px;
    text-decoration: none;
    
}

nav a:hover {
    background-color: yellow;
    color:coral;
    font-size: 17px
}

nav a:hover {
    background-color: yellow;
    color: coral;
    font-size: 17px;
}

.contact-form-container {
    margin: 50px auto;
    padding: 30px;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid grey;
}

.contact-form-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-form-container p {
    font-size: 16px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.input-group textarea {
    resize: vertical;
}

button {
    background-color: lightcoral;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
}

button:hover {
    background-color: yellow;
    color: purple;
    font-size: 16px;
}

.footer {
    font-weight: bold;
    color: white;
    background-image: url("../images/footer-background.jpg");
    background-size:contain;
    padding: 5px 5px 0px 5px;
    margin-top: 50px;
}

#company_address {  
    text-align:center;
}

#company_name {
    text-align: end;
}