body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    text-align: center;
    font-size: 400%;
    background-image: url("../images/banner_background.jpg");
    background-size:contain;
    border: 5px dotted white;
    padding: 80px;
    
}
.navbar {
    background-color:lightcoral;
    border: 2px dotted white;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 50px;
    text-decoration: none;
}

.testimonial {
    color: gray;
}

.container {
    text-align: center;
    margin-top: 50px;
}

button {
    background-color: rgb(237, 106, 106);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: yellow;
    color: purple;
    font-size: 17px
}

.footer {
    font-weight: bold;
    color: white;
    background-image: url("../images/footer-background.jpg");
    background-size:contain;
    padding: 5px 5px 0px 5px;
    margin-top: 50px;
}

#company_address {  
    text-align:center;
}

#company_name {
    text-align: end;
}
