body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center; 
}

.navbar {
    background-image: url("../images/subpage_background.png");
    background-size: cover;
    border: 5px dotted white;
    color: lightcoral;
    padding: 40px;
    font-size: 20px;

}

nav a {
    color: black;
    margin: 0 40px;
    text-decoration: none;
    
}

nav a:hover {
    background-color: yellow;
    color:coral;
    font-size: 17px
}

.menu-items {
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

}

.menu-item {
    background-color: white;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 14px;
}

.menu-item:hover {
    background-color: lightcoral;
    color: white;
    font-size: 16px;
}

.footer {
    font-weight: bold;
    color: white;
    background-image: url("../images/footer-background.jpg");
    background-size:contain;
    padding: 5px 5px 0px 5px;
    margin-top: 50px;
}

#company_address {  
    text-align:center;
}

#company_name {
    text-align: end;
}
