body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center; 
}

.navbar {
    background-image: url("../images/subpage_background.png");
    background-size: cover;
    border: 5px dotted white;
    color: coral;
    padding: 40px;
    font-size: 20px;

}
nav a {
    color: black;
    margin: 0 40px;
    text-decoration: none;
    
}

.order-form {
    margin: 20px auto;
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.order-form h2 {
    text-align: center;
}

label {
    font-size: 16px;
    display: block;
    margin-top: 10px;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: yellow;
    color: purple;
    font-size: 16px
}

.footer {
    font-weight: bold;
    color: white;
    background-image: url("../images/footer-background.jpg");
    background-size:contain;
    padding: 5px 5px 0px 5px;
    margin-top: 50px;
}

#company_address {  
    text-align:center;
}

#company_name {
    text-align: end;
}
